body {
  background-color: #fff;
  color: #5e6282;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
  height: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
section {
  padding: 48px 48px;
}
.container {
  max-width: 1300px;
  padding: 48px 0px;
  margin: 0 auto;
}
/* banner */
.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.hero {
  background-size: 100% 90%;
  background-position: top;
  background-repeat: no-repeat;
}
.bannerImage {
  margin-top: 48px;
}
.bannerSubtitle {
  font-size: 18px;
  color: #df6951;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.bannerTitle {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 76px;
  color: #181e4b;
  line-height: 1.1;
  letter-spacing: -2px;
}
.sectionContent {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  margin: 24px 0;
}
.play-icon {
  width: 45px;
  align-items: center;
  display: flex;
}
.play-demo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.button-container {
  display: flex;
  align-items: center;
  gap: 38px;
}
.primaryBtn {
  background-color: #f1a501;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playDemoBtn {
  color: #686d77;
  font-size: 17px;
  font-weight: 500;
}
/* servicesection */
.sectionSubtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.sectionTitle {
  text-align: center;
  font-size: 48px;
  font-family: "Volkhov", serif;
  font-weight: 700;
  color: #14183e;
}
.serviceImage {
  width: 64px;
  margin: 0 auto;
}
.servicesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 48px;
  margin-top: 80px;
}
.serviceCardTitle {
  color: #1e1d4c;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0;
}
.serviceCardContent {
  font-size: 16px;
  margin: 0 auto;
  width: 190px;
}
.serviceCard,
.serviceCardtwo {
  border-radius: 16px;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1);
  width: 165px;
  padding: 42px;
  position: relative;
  background: #fff;
}
.serviceCard {
  box-shadow: unset;
}
.serviceCardtwo:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  background: url(images/Rectangle\ 157.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: -38px;
  right: 0;
  bottom: -17%;
  z-index: -2;
}
.serviceImageWrapper {
  position: absolute;
  width: 9%;
  right: 5%;
  top: 15%;
  bottom: 0;
}

.servicesSection {
  position: relative;
}
/* destinationsection */
.destionationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.destinationSection {
  position: relative;
}
.destinationDetails {
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
}
.destinationCard {
  padding-bottom: 20px;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.Days {
  padding: 0 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.locationIcon {
  width: 18px;
}
.decorativeElement {
  max-width: 85px;
  z-index: -1;
  margin-left: -83px;
  max-height: 100px;
}
/* booktrip */
.booktripTitle {
  text-align: left;
  margin-bottom: 50px;
}
.booktripSubtitle {
  text-align: left;
}
.stepIcon {
  max-width: 45px;
}
.step {
  display: flex;
  gap: 20px;
  margin: 38px 0;
}
.stepTitle {
  font-weight: 600;
  font-size: 16px;
}
.tripImage {
  max-width: 300px;
}
.bookingContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tripIcons {
  display: flex;
  width: 35px;
  gap: 10px;
  margin: 20px 0;
}
.peopleCount {
  display: flex;
  align-items: center;
  gap: 10px;
}
.peopleImg {
  width: 18px;
}
.heartIcon {
  width: 20px;
  float: right;
  margin-top: -20px;
}
.tripCard {
  padding: 16px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.tripTitle {
  color: #080809;
  font-size: 16px;
  margin: 10px 0;
  font-weight: 500;
}
.tripInfo {
  color: #84829a;
  font-size: 14px;
}
.statusCard {
  position: absolute;
  bottom: 42px;
  right: -34%;
  background: white;
  padding: 18px 23px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 22px;
  width: 214px;
}
.romeImg {
  width: 38px;
  border-radius: 20px;
}
.status {
  color: #84829a;
  font-size: 12px;
  font-weight: 500;
}
.tripCard::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -67px;
  left: 10px;
  background: radial-gradient(rgba(96, 186, 236, 0.4), transparent);
  border-radius: 24px;
  z-index: -1;
  filter: blur(50px);
}
.statusTitle {
  margin: 0;
}
.progress-text {
  font-size: 12px;
  color: #8a79df;
  font-weight: 400;
}

.progress-bar {
  height: 5px;
  width: 100%;
  background: #f5f5f5;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.progress {
  width: 40%;
  height: 100%;
  background: #8a79df;
}
.progressWrapper {
  margin-top: 8px;
}
/* testimonial */
.userImage {
  max-width: 70px;
}
.testimonialcardInactive {
  position: absolute;
  bottom: -55px;
  left: 65%;
  z-index: -2;
  opacity: 0.7;
}
.testimonialContainer {
  max-width: 32%;
}
.testimonialsWrapper {
  display: flex;
  justify-content: center;
  gap: 20%;
  position: relative;
}
.testimonialIocnWrapper {
  display: flex;
  flex-direction: column;
  width: 20px;
  gap: 30px;
  justify-content: flex-end;
  margin-right: 0;
  position: absolute;
  right: -66px;
  top: 100px;
}
.inactiveImage {
  visibility: hidden;
}
.testimonialInactiveContent {
  visibility: hidden;
  opacity: 0.2;
}
.inactiveWrapper {
  box-shadow: none;
  background: none;
  box-shadow: none;
  border: 1px solid #f7f7f7;
}
.arrow.leftArrow {
  opacity: 0.2;
}

.dots {
  display: flex;
  gap: 20px;
  padding-top: 50px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}
.dot.active {
  background-color: #000;
  transform: scale(1.2);
}

.dot:hover {
  background-color: #555;
}
.testimonialImageWrapper {
  margin-left: -25px;
}
.testimonialTextWrapper {
  background: white;
  padding: 15px 36px;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
  font-size: 15px;
  width: 366px;
  margin-top: -12px;
}
.userName {
  font-size: 16px;
  font-weight: 600;
}
.testimonialText {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.8;
}
.airlineLogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
}
.airlineLogo {
  max-width: 160px;
  mix-blend-mode: luminosity;
}
.featured {
  padding: 5px 5px 0 5px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: normal;
}
.subscriptionText {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  padding-bottom: 50px;
  margin-bottom: 60px;
}

/* form */
.sendIcon {
  max-width: 50px;
  position: absolute;
  top: -20px;
  right: -15px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscriptionForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 18px;
}
.subscriptionSection {
  position: relative;
}
.subscriptionWrapper {
  border-radius: 60px 60px 60px 10px;
  padding: 55px 30px;
  position: relative;
  background: rgba(223, 215, 249, 0.2);
}
input[type="email"] {
  border: none;
  color: #39425d;
  font-size: 12px;
}
.emailInput {
  display: flex;
  gap: 10px;
  padding: 18px 156px 18px 20px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 999;
  outline: none;
  background: #fff;
  transition: border 0.3s ease;
}
.subscribeButton {
  background: #ff7757;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 10px;
}
.sudscriptionDecore {
  position: absolute;
  width: 10%;
  right: 5%;
  top: 62%;
}
.ring-top-right {
  position: absolute;
  top: 0;
  right: 2px;
  width: 225px;
}
.ring-bottom-left {
  position: absolute;
  bottom: 0;
  left: -73px;
  width: 442px;
  top: 5%;
}
/* header  */
#masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 20px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  transition: background-color 0.3s ease-in-out;
}
#mobile-menu-toggle {
  display: none;
}
#masthead.scrolled {
  background: #fff;
  box-shadow: 0 3px 10px #f8c76b5e;
}
.site-branding {
  width: 300px;
  display: flex;
}
.main-navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  gap: 80px;
  color: #212832;
  font-size: 17px;
  font-weight: 500;
  align-items: center;
}
.signUpBtn {
  background: no-repeat;
  padding: 10px 20px;
  border: 2px solid #212832;
  border-radius: 5px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.language-select {
  background: none;
  border: none;
  font-size: 17px;
}
/* footer  */
.footerContainer {
  display: flex;
  justify-content: space-evenly;
}
.footer-logo {
  max-width: 156px;
  margin-bottom: 25px;
}
.social-media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialMedias {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.appIcon {
  max-width: 100px;
}
.logoText {
  font-size: 13px;
  font-weight: 500;
}
.footerWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerContent {
  font-size: 19px;
  color: #080809;
  font-weight: 700;
  margin-bottom: 14px;
}
.storeTitle {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}
.footer-link {
  font-size: 18px;
  font-weight: 500;
}
.copy-right {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
}
/*mobile responsive styles*/
@media (max-width: 768px) {
  #masthead {
    flex-direction: column;
    padding: 15px 20px 15px 0;
    background: #fff;
  }
  .main-navigation ul {
    display: none;
  }
  .site-branding {
    width: 175px;
    margin-left: -40%;
  }
  .main-navigation.toggled ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 50px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
  }
  #mobile-menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 32px;
    position: absolute;
    right: 24px;
    top: 18px;
    color: #000;
  }

  section {
    padding: 15px 48px;
  }
  /* banner  */
  .hero {
    background-size: 100% 100%;
    height: unset;
  }
  .bannerContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 40px;
  }
  .bannerSubtitle {
    font-size: 16px;
  }
  .bannerTitle {
    font-size: 34px;
  }
  .sectionContent {
    font-size: 14px;
  }
  .button-container {
    gap: 12px;
  }
  .primaryBtn {
    font-size: 12px;
    padding: 10px 12px;
  }
  .play-demo {
    gap: 5px;
  }
  .play-icon {
    width: 22px;
  }
  .playDemoBtn {
    font-size: 14px;
  }
  .bannerImage {
    margin-top: 30px;
  }
  /* services  */
  .sectionSubtitle {
    font-size: 14px;
  }
  .sectionTitle {
    font-size: 32px;
  }
  .servicesContainer {
    margin-top: 30px;
    flex-direction: column;
  }
  .serviceCardContent {
    font-size: 14px;
  }
  .serviceImage {
    width: 50px;
  }
  .serviceCardtwo {
    width: 156px;
  }
  .serviceCardContent {
    font-size: 14px;
    width: 90%;
  }

  .serviceCardTitle {
    font-size: 16px;
  }
  .serviceCardtwo:before {
    width: 73px;
    height: 66px;
    bottom: -10%;
    left: -20px;
  }
  /* destination  */
  .destionationWrapper {
    flex-direction: column;
  }
  .decorativeElement {
    right: 1%;
    bottom: 14%;
    z-index: -1;
    max-width: 65px;
    position: absolute;
}
  /* travel  */
  .bookingContainer {
    flex-direction: column;
  }
  .stepIcon {
    width: 60px;
  }
  .statusCard {
    position: unset;
  }
  /* testimonial  */
  .testimonialcardInactive {
    left: 20px;
  }
  .testimonialIocnWrapper {
    top: 50%;
  }
  .testimonialsWrapper {
    flex-direction: column;
  }
  .testimonialTextWrapper {
    width: 160px; 
    margin-top: -25px;
  }
  .testimonialContainer {
    max-width: 100%;
    margin-top: 28px;
    position: relative;
  }

  .airlineLogo {
    margin: 32px;
  }
  .airlineLogoWrapper {
    flex-direction: column;
  }
  .featured {
    margin: 30px;
  }
  /* footer  */
  .footerContainer {
    flex-direction: column;
  }
  .footerContent {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 0;
  }
  footer-link {
    font-size: 14px;
  }
  .social-media-wrapper {
    margin-top: 20px;
    justify-content: flex-start;
    align-items: baseline;
  }
  .socialMedias {
    gap: 0;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  /* subscription form  */
  .subscriptionText {
    font-size: 17px;
    margin-bottom: 6px;
  }
  .ring-top-right {
    top: 20px;
    right: 4px;
    width: 100px;
  }
  .ring-bottom-left {
    position: absolute;
    bottom: 0;
    left: -33px;
    width: 140px;
    top: 36%;
  }
  .subscriptionForm {
    flex-direction: column;
    margin-top: 0;
  }
  .emailInput {
    display: flex;
    gap: 10px;
    padding: 15px 23px 15px 20px;
  }
  .sendIcon {
    max-width: 30px;
    top: 10px;
    right: -11px;
  }
  .subscribeButton {
    padding: 12px 20px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .bannerContainer {
    margin-top: 50px;
  }
  .site-branding {
    width: 100px;
    margin-left: -12%;
  }
  .main-navigation ul {
    gap: 14px;
  }
  #masthead {
    gap: 50px;
  }
  .bannerTitle {
    font-size: 38px;
  }
  .bannerSubtitle {
    font-size: 15px;
  }
  .primaryBtn {
    font-size: 14px;
    padding: 10px 15px;
  }
  .button-container {
    gap: 10px;
  }
  .play-icon {
    width: 24px;
  }
  .playDemoBtn {
    font-size: 13px;
  }
  .play-demo {
    gap: 8px;
  }
  .footerContent {
    font-size: 16px;
  }
  .footer-link {
    font-size: 14px;
  }
  .footer-logo {
    max-width: 120px;
  }
  .appIcon {
    max-width: 70px;
  }
  .storeTitle {
    font-size: 16px;
  }
  .socialMedias {
    max-width: 150px;
  }
  .serviceCard,
  .serviceCardtwo {
    padding: 30px;
  }
  .servicesContainer {
    gap: 8px;
  }
  .statusCard {
    bottom: 42px;
    right: -5%;
    gap: 10px;
    width: 155px;
  }
  .serviceCardtwo:before {
    width: 60px;
    right: -12px;
    left: -10px;
  }
  .testimonialIocnWrapper{
    top: 0;
    bottom: -142px;
}
  
}
